body {
	overflow-y: hidden;
}

body, html {
	font-family: Catamaran,sans-serif;
    height: 100%;
	color: #fff;
	background-image: linear-gradient(to right bottom,#33eda3,#33ed8a,#27b2dc,#1880ca,#006fb9);
}

.container {
	position: relative;
	margin: 0 auto;
	top: 30%;
}

.text-center {
	text-align: center !important;
}

.text-rotate > .wrap {
	border-right: 0.08em solid #fff;
}

.social-media{
	
}

.fa-2x {
	font-size: 2em;
}