h2 {
    font-family: 'Acorn';
    font-size: var(--font-h2);
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Acorn';
    font-size: var(--font-h3);
}

p {
    text-align: justify;
    font-size: clamp(.875rem, .7985rem + .3265vw, 1.125rem);
}

.header-container {
    text-align: center;
}

.principles-background {
    background-color: var(--color-text-primary-50);
    border-radius: 10px;
    padding-top: 1rem;
}

.principle-block-left {
    padding-left: 100px;
}

.principle-block-right {
    padding-right: 100px;
}

@media screen and (max-width: 768px) {

    .principle-block-left {
        padding-left: 80px;
        padding-right: 80px;
    }

    .principle-block-right {
        padding-left: 80px;
        padding-right: 80px;
    }
}