<div class="container component-margin-bottom">
    <div>
        <h2>Life's a journey, enjoy the ride.</h2>
    </div>

    <div class="principles-background">
        <div class="row">
            <div class="col-md-6 principle-block-left">
                <h3>Collaborate</h3>
                <p>Life finds a way. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you
                    something to cry
                    about you little bastard! Eventually, you do plan to have dinosaurs on your dinosaur tour, right?
                    You
                    really think you
                    can fly that thing?</p>
            </div>
            <div class="col-md-6 principle-block-right">
                <h3>Experiment</h3>
                <p>To whip up an omelette, you've gotta crack a few eggs. The same goes for coding as well as life in
                    general. Jumping into
                    something new can feel like diving into the deep end, but also incredibly exciting. Coding allows
                    for quick
                    experimentation and a quick means of cleaning up those broken eggs, thanks source control. <br>
                    Bon appétit.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 principle-block-left">
                <h3>Life long learning</h3>
                <p>Do you have any idea how long it takes those cups to decompose. They're using our own satellites
                    against
                    us. And the
                    clock is ticking. Remind me to thank John for a lovely weekend. God creates dinosaurs. God destroys
                    dinosaurs. God
                    creates Man. Man destroys God. Man creates Dinosaurs.</p>
            </div>
            <div class="col-md-6 principle-block-right">
                <h3>Problem Solving</h3>
                <p>Programming boils down to problems and how we go about accomplishing these problems. Some days, it's
                    smooth sailing;
                    other days, you'll feel like headbutting your desk. But that's the thrill of it! If you have the
                    right frame of mind
                    you'll never be bored as there will always be fresh problems for you to go about solving. <br>
                    It's not possible. No, it's necessary.
                </p>
            </div>
        </div>
    </div>
</div>