<div class="container component-margin-bottom">
    <div>
        <h2>Life's a journey, enjoy the ride.</h2>
    </div>

    <div class="principles-background">
        <div class="row">
            <div class="col-md-6 principle-block-left">
                <h3>Collaborate</h3>
                <p>If you want to go fast, go alone, if you want to go far, go together. In the world of software
                    development, teamwork
                    isn't just a plus —it's a must. A willingness to help and also receive help is important to good
                    collaboration. <br>
                    Stop, collaborate and listen.</p>
            </div>
            <div class="col-md-6 principle-block-right">
                <h3>Experiment</h3>
                <p>To whip up an omelette, you've gotta crack a few eggs. The same goes for coding as well as life in
                    general. Jumping into
                    something new can feel like diving into the deep end, but also incredibly exciting. Coding allows
                    for quick
                    experimentation and a quick means of cleaning up those broken eggs, thanks source control. <br>
                    Bon appétit.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 principle-block-left">
                <h3>Life long learning</h3>
                <p>The day you stop learning is the day you stop living. There's always something new on the horizon.
                    Even the most
                    knowledgeable people don't have all the answers. This is especially true in the world of
                    programming. The field is so
                    extensive and forever advancing. You need to be willing to keep learning with alacrity. <br>
                    Old dogs can learn new tricks.
                </p>
            </div>
            <div class="col-md-6 principle-block-right">
                <h3>Problem Solving</h3>
                <p>Programming boils down to problems and how we go about accomplishing these problems. Some days, it's
                    smooth sailing;
                    other days, you'll feel like headbutting your desk. But that's the thrill of it! If you have the
                    right frame of mind
                    you'll never be bored as there will always be fresh problems for you to go about solving. <br>
                    It's not possible. No, it's necessary.
                </p>
            </div>
        </div>
    </div>
</div>