Possible header

<div class="container principles-background component-margin-bottom">
    <div class="row">
        <div class="col-md-6 principle-block-left">
            <h3>Collaborate</h3>
            <p>Life finds a way. My dad once told me, laugh and the world laughs with you, Cry, and I'll give you
                something to cry
                about you little bastard! Eventually, you do plan to have dinosaurs on your dinosaur tour, right? You
                really think you
                can fly that thing?</p>
        </div>
        <div class="col-md-6 principle-block-right">
            <h3>Experiment</h3>
            <p>So you two dig up, dig up dinosaurs? Yeah, but your scientists were so preoccupied with whether or not
                they could, they
                didn't stop to think if they should. Checkmate... Must go faster. You know what? It is beets. I've
                crashed into a beet
                truck. You know what? It is beets. I've crashed into a beet truck.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 principle-block-left">
            <h3>Life long learning</h3>
            <p>Do you have any idea how long it takes those cups to decompose. They're using our own satellites against
                us. And the
                clock is ticking. Remind me to thank John for a lovely weekend. God creates dinosaurs. God destroys
                dinosaurs. God
                creates Man. Man destroys God. Man creates Dinosaurs.</p>
        </div>
        <div class="col-md-6 principle-block-right">
            <h3>Problem Solving</h3>
            <p>Hey, you know how I'm, like, always trying to save the planet? Here's my chance. I was part of something
                special. Must
                go faster. Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! So you two dig
                up, dig up
                dinosaurs? I gave it a cold? I gave it a virus. A computer virus.</p>
        </div>
    </div>

</div>