h2 {
    font-family: 'Acorn';
    font-size: var(--font-h2);
    display: flex;
    justify-content: center;
    background-color: green;
}

img {
    width: 100%;
    border-radius: 10px;
    background-color: red;
}

.image-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 3rem;
    background-color: blue;
}

.header-container {
    background-color: yellow;
    padding-left: 3rem;
    padding-right: 3rem;
}

.square {
    width: 100%;
    padding-top: 100%;
    /* Makes the element square */
    background-color: #ccc;
    /* Set your desired background color */
    border-radius: 10px;
    /* Adjust as needed for rounded corners */
}

.justify-row {
    display: flex;
    justify-content: center;
}