<div class="container temp component-margin-bottom">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="image-container">
                <img src="../../../../../assets/images/Me_transparent.png">
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-12">
            <div class="header-container">
                <h2 class="justify-row">Busy coding and living it up in {{getTempDisplay(weather.currentTemp.temperature)}} Cape Town, South Africa.</h2>
            </div>
        </div>
    </div>

</div>