<div class="container temp component-margin-bottom">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-5">
            <div class="image-container">
                <img src="../../../../../assets/images/dummy-avatar.png">
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-7">
            <div class="header-container">
                <h2 class="justify-row">Busy coding and living it up in __ Cape Town, South Africa.</h2>
            </div>
        </div>
    </div>

</div>


<!-- https://api.open-meteo.com/v1/forecast?latitude=33.55&longitude=18.25&current_weather=true
This is the API for Cape Town weather 
Build up a service plus a class to get the temperature 
Also look at the docs - https://open-meteo.com/en/docs
-->