h2 {
    font-family: 'Acorn';
    font-size: var(--font-h2);
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-text-primary-50);
}

.header-container {
    padding-left: 3rem;
    padding-right: 3rem;
}

.image-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.justify-row {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    img {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 992px) {
    h2 {
        font-size: var(--font-h2-bigger);
    }
}

@media screen and (max-width: 991px) {
    .header-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .header-container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width: 575px) {
    .header-container {
        margin-top: 1rem;
        text-align: center;
    }

    .image-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

