<div class="container personal-projects">
    <div class="justify-row">
        <h2>On the side</h2>
    </div>
    <div class="row mb-4 align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6 col-5">
            <div class="square"></div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 col-7">
            <p>Some text about SAF1</p>
        </div>
    </div>
    <div class="row mb-4 align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6 col-5">
            <div class="square"></div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 col-7">
            <p>
                Some text about mobile development.
            </p>
        </div>
    </div>
</div>