<div class="container component-margin-bottom">
    <div class="header-container">
        <h2>Some coding on the side.</h2>
    </div>

    <div class="row row-splitter">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 mobile-container">
            <a href="https://github.com/SandstormNick/MealPlanner" target="_blank">
                <div class="mobile-card">
                    <div class="mobile-info">
                        <h2>Mobile Dev</h2>
                    </div>
                    <div class="mobile-image-container">
                        <picture>
                            <source [srcset]="baseImageUrl + 'mobile_image.avif'" type="image/avif">
                            <source [srcset]="baseImageUrl + 'mobile_image.webp'" type="image/webp">
                            <img [src]="baseImageUrl + 'mobile_image.png'" loading="lazy" alt="" class="mobile-image">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-lg-7 npm-container">
            <a href="https://nick-gibbens-org.github.io/Blog/" target="_blank">
                <div class="blog-card">
                    <div class="blog-info">
                        <h2>Blog</h2>
                    </div>
                    <div class="blog-image-container">
                        <picture>
                            <source [srcset]="baseImageUrl + 'blog_image.avif'" type="image/avif">
                            <source [srcset]="baseImageUrl + 'blog_image.webp'" type="image/webp">
                            <img [src]="baseImageUrl + 'blog_image.png'" loading="lazy" alt="" class="blog-image">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 portfolio-container">
            <a href="/">
                <div class="portfolio-card">
                    <div class="portfolio-info">
                        <h2>Portfolio Site</h2>
                    </div>
                    <div class="portfolio-image-container">
                        <picture>
                            <source [srcset]="baseImageUrl + 'portfolio_image.avif'" type="image/avif">
                            <source [srcset]="baseImageUrl + 'portfolio_image.webp'" type="image/webp">
                            <img [src]="baseImageUrl + 'portfolio_image.png'" loading="lazy" alt="" class="portfolio-image">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 coming-soon-container">
            <a href="https://www.npmjs.com/package/ngx-quote-looper" target="_blank">
                <div class="npm-card">
                    <div class="npm-info">
                        <h2>NPM Package</h2>
                        <p>A stylish quote looper.</p>
                    </div>
                    <div class="npm-package-container">
                        <ngx-quote-looper 
                            [inputQuotes]="quoteData" 
                            [authorCSS]="{'text-align': 'right'}" 
                            [quoteCSS]="{'text-align': 'justify', 'font-size': 'var(--font-h3-smallest)'}"
                            [randomize]="true"
                            >
                        </ngx-quote-looper>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>