a .mobile-image, 
a .portfolio-image,
a .blog-image {
    transition: transform 0.5s ease;
}

a:hover .mobile-image, 
a:hover .portfolio-image,
a:hover .blog-image {
    transform: translateY(5px);
}

p {
    font-size: var(--font-body);
}

.header-container {
    text-align: center;

    h2 {
        font-family: 'Acorn';
        font-size: var(--font-h2);
        display: flex;
        justify-content: center;
        color: var(--color-text-primary);
        margin-bottom: 1rem;
    }
}

.row-splitter {
    margin-bottom: 1.5rem;
}

//-----------blog

.blog-container {
    max-height: 550px;
}

.blog-card {
    background-color: hsla(180, 95%, 18%, 1);
    height: 100%;
    overflow: hidden;
    padding: var(--42px) var(--64px);
    border-radius: var(--64px);
    position: relative;
    transition: box-shadow 0.5s ease;
}

.blog-info {
    text-align: right;
}

.blog-image {
    width: 150%;
}

.blog-image-container {
    position: relative;
}

//-----------blog

//-----------mobile

.mobile-container {
    max-height: 550px;
}

.mobile-card {
    background-color: hsla(80, 95%, 18%, 1);
    height: 100%;
    overflow: hidden;
    padding: var(--42px) var(--64px);
    border-radius: var(--64px);
    position: relative;
    transition: box-shadow 0.5s ease;
}

.blog-card:hover,
.mobile-card:hover,
.portfolio-card:hover,
.npm-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.mobile-info {
    text-align: right;
}

.mobile-image {
    width: 100%;
}

.mobile-image-container {
    position: relative;
}

//-----------mobile

//-----------portfolio

.portfolio-container {
    max-height: 550px;
}

.portfolio-card {
    background-color: hsla(180, 100%, 27.25%, 1);
    height: 100%;
    overflow: hidden;
    padding: var(--42px) var(--64px);
    border-radius: var(--64px);
    position: relative;
    transition: box-shadow 0.5s ease;
}

.portfolio-info {
    text-align: right;
}

.portfolio-image {
    width: 150%;
}

.portfolio-image-container {
    position: relative;
}

//-----------portfolio

//-----------npm

.npm-container {
    max-height: 550px;
}

.npm-card {
    background-color: hsla(172, 85%, 30%, 1);
    height: 100%;
    overflow: hidden;
    padding: var(--42px) var(--64px);
    border-radius: var(--64px);
    position: relative;
    transition: box-shadow 0.5s ease;
}

.npm-info {
    text-align: right;
}

//-----------npm

h2 {
    color: var(--background-color);
    font-size: var(--font-h2-smaller);
    font-family: 'Acorn';
    margin-bottom: 0;
}

@media screen and (max-width: 1399px) {
    .portfolio-image,
    .blog-image {
        width: 175%;
    }
}

@media screen and (max-width: 1199px) {
    .portfolio-image,
    .blog-image {
        width: 225%;
    }

    .portfolio-image-container,
    .blog-image-container {
        left: -50px;
    }

    .mobile-card {
        padding: var(--42px) 30px;
    }

    .mobile-info {
        padding-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .portfolio-image,
    .blog-image {
        width: 440%;
    }

    .portfolio-image-container,
    .blog-image-container {
        left: -100px;
    }
}

@media screen and (max-width: 767px) {
    .mobile-container {
        margin-bottom: 1.5rem;
    }

    .mobile-card {
        padding: var(--42px) var(--64px);
    }

    .mobile-info {
        padding-right: 0px;
    }

    .portfolio-image,
    .blog-image {
        width: 250%;
    }

    .portfolio-container {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 575px) {
    .portfolio-image,
    .blog-image {
        width: 275%;
    }
}

@media screen and (max-width: 500px) {
    a:hover .mobile-image, 
    a:hover .portfolio-image,
    a:hover .blog-image {
        transform: none;
    }

    .blog-card:hover,
    .mobile-card:hover,
    .portfolio-card:hover,
    .npm-card:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 450px) {
    .portfolio-image,
    .blog-image {
        width: 375%;
    }

    .portfolio-image-container,
    .blog-image-container {
        left: -125px;
    }
}
