<div class="container">
    <div class="row footer-background">
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="come-back-soon">
                    Thanks for stopping by.
                    <br>
                    Come back soon.
                </div>
            </div>
            <div class="row">
                <div class="copyright">
                    <fa-icon class="copyright-icon" [icon]="faCopyright"></fa-icon>
                    2024, Nick Gibbens
                </div>

            </div>

        </div>
        <div class="col-12 col-sm-6">
            <div class="contact-links">Find me here:</div>
            <div class="ghub">
                <a href="{{githubLink}}" target="_blank"><fa-icon class="ghub-icon" [icon]="faGithub"></fa-icon></a>

            </div>
            <div class="linked">
                <a href="{{linkedLink}}" target="_blank"><fa-icon class="linked-icon" [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>
    </div>
</div>