.para-container {
    font-size: var(--font-body);
}

.author {
    text-align: right;
}

.quote-block {
    padding: 2rem
}

.quote-only {
    text-align: justify;
    font-size: var(--font-body);
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out; // Adjust the duration and easing as needed
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out; // Adjust the duration and easing as needed
}

.portrait-container {
    overflow: hidden;
    height: 30rem;
    border-radius: 10px;
}

.landscape-container {
    overflow: hidden;
    height: 30rem;
    border-radius: 10px;
}

img {
    width: 100%;
    background-size: contain;
    border-radius: 10px;
}


p {
    text-align: justify;
    margin: 1rem 1rem 0rem 1rem;
}

@media screen and (max-width: 991px) {
    .portrait-container {
        display: none;
    }

    .para-container {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .landscape-container {
        display: none;
    }

    .portrait-container {
        display: block;
    }
}