<div class="container component-margin-bottom">
    <div class="row">
        <div class="col-lg-7 col-xl-8 para-container d-flex align-items-center">
            <div>
                <p>
                    Beyond coding features and crunching bugs, I lead an active lifestyle.
                    I'm currently in my running era, racking up a plethora of half and full marathons.
                    Table Mountain graces me with its presence, and I fully embrace its offerings.
                    Trail runs, hikes, and leisurely strolls amidst ancient trees consistently rejuvenate my spirit.
                </p>
                <p>
                    My circle of friends and family holds immense significance in my life, shaping me into who I am today.
                    When seeking solace, I find refuge in the pages of a captivating book or indulge in the exhilaration of Formula 1.
                </p>
                <p>
                    I'm an avid connoisseur of soul-stirring melodies and am always happy to slow down for a delightful cup of coffee.
                </p>
            </div>
            
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="portrait-container">
                <img [src]="photoPortrait.src" alt="{{photoPortrait.about}}">
                <div class="portrait-description">{{photoPortrait.about}}</div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div class="landscape-container">
                <img [src]="photoLandscape.src" alt="{{photoLandscape.about}}">
                <div class="landscape-description">{{photoLandscape.about}}</div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4 quote-block d-flex align-items-center" [ngClass]="{'fade-out': quoteChanged, 'fade-in': !quoteChanged}">
            <div class="row">
                <div class="row quote-only">
                    <div class="col-12">
                        {{currentQuote}}
                    </div>
                </div>
                <div class="row author">
                    <div class="col-12">
                        {{currentAuthor}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>