.para-temp {
    background-color: red;
}

.author {
    float: right;
}

.quote-block {
    background-color: aqua; //temp
    padding: 2rem
}

.quote-only {
    text-align: justify;
}



p {
    text-align: justify;
    font-size: var(--font-body); //Can maybe drop this if the paragraph text is too big
    margin: 1rem 1rem 0rem 1rem;
}