<div class="container component-margin-bottom">
    <div class="background">
        <div class="row">
            <div class="col-12">
                <p>
                    An elective in university introduced me to the world of software development. It was a basic course
                    in web development,
                    covering HTML/CSS and vanilla JavaScript. Intrigued by the challenge of programming and the
                    rewarding feeling of
                    accomplishing tasks, I decided to pursue an IT degree. I gained valuable experience when I joined
                    the job market.
                    Alongside this, I continued to experiment with side projects, some of which didn't go very far but
                    were still enjoyable.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    These days, I'm lucky enough to call Cape Town home. Living and working beneath Table Mountain feels
                    surreal.
                    Professionally, I'm still expanding my skills, and on the side, I'm still experimenting and
                    learning. I've tried
                    launching some websites and am increasingly drawn to mobile development, using Flutter as my
                    framework.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="p-bottom">Just my luck, no ice. You really think you can fly that thing? We gotta burn the
                    rain
                    forest, dump toxic waste, pollute
                    the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it
                    anymore!
                    They're using
                    our own satellites against us. And the clock is ticking.
                </p>
            </div>
        </div>
    </div>
</div>