<div class="container component-margin-bottom">
    <div class="background">
        <div class="row">
            <div class="col-12">
                <p>
                    It was an elective in university that led me down the software development rabbit hole. A basic
                    introduction to web
                    development, just basic HTML/CSS, and vanilla JavaScript. I decided to enroll in an IT degree. I
                    enjoyed the challenge
                    that came with programming and the rewarding feeling that came with accomplishing something
                    challenging. I'd wrap up my
                    degree and enter the software development pipeline. I gained valuable experience on real-world
                    projects while still playing around and having fun on the side with projects
                    that didn't really go anywhere.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>You're a very talented young man, with your own clever thoughts and ideas. Do you need a manager? We
                    gotta
                    burn the rain
                    forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw up this
                    planet
                    enough, they
                    won't want it anymore!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="p-bottom">Just my luck, no ice. You really think you can fly that thing? We gotta burn the
                    rain
                    forest, dump toxic waste, pollute
                    the air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want it
                    anymore!
                    They're using
                    our own satellites against us. And the clock is ticking.
                </p>
            </div>
        </div>
    </div>
</div>