<div class="container component-margin-bottom">
    <div class="background">
        <div class="row">
            <div class="col-12">
                <p>
                    An elective in university introduced me to the world of software development. It was a basic course
                    in web development,
                    covering HTML/CSS and vanilla JavaScript. Intrigued by the challenge of programming and the
                    rewarding feeling of
                    accomplishing tasks, I decided to pursue an IT degree. I gained valuable experience when I joined
                    the job market.
                    Alongside this, I continued to experiment with side projects, some of which didn't go very far but
                    were still enjoyable.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    These days, I'm lucky enough to call Cape Town home. Living and working beneath Table Mountain feels
                    surreal.
                    Professionally, I'm still expanding my skills, and on the side, I'm still experimenting and
                    learning. I've tried
                    launching some websites and am increasingly drawn to mobile development, using Flutter as my
                    framework.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="p-bottom">
                    What tomorrow will bring is a mystery. Cape Town might not even be my last stop along the way.
                    Regardless of what port I
                    call home, there are some things I can foresee. In the near future, I'd like to release some of the
                    mobile apps that
                    I've been coding on the side. One thing I'm sure I'll still be doing is experimenting and learning;
                    I'll never run out
                    of new things to learn. There's still a long way to go, so I might as well have a little fun.
                </p>
            </div>
        </div>
    </div>
</div>