<div class="nav">
    <ul [ngClass]="isScrolled ? 'blur' : ''">
        <li>
            <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Work<span class="slash">/</span></a>
        </li>
        <li>
            <a [routerLink]="['about']" [routerLinkActive]="['active']">About</a>
        </li>
        <li>
            <a>
                <fa-icon [icon]="faIcon" 
                    (click)="onThemeSwitchChange()" 
                    [title]="toolTipText">
                </fa-icon>
            </a>
        </li>
    </ul>
</div>