<div class="container work-banner">
    <h1>
        <span class="hello-margin">
            <span class="html-tag">{{openingTag}}</span><span class="header">Hello</span>
        </span>
        <span class="world-margin">
            <span class="header">World</span><span class="html-tag">{{closingTag}}</span>
        </span>
    </h1>
    <h2><span class="header">I'm Nick.</span></h2>
    <p>
        <span class="header-text">A software engineer. A creator. A problem solver.</span>
        <span class="header-text">A full-stack developer. A programmer. A learner.</span>
    </p>
</div>