<div class="container component-margin-bottom">
    <h1>
        <span class="hello-margin">
            <span class="html-tag">{{openingTag}}</span><span class="header">Hello</span>
        </span>
        <span class="world-margin">
            <span class="header">World</span><span class="html-tag">{{closingTag}}</span>
        </span>
    </h1>
    <h2><span class="header">I'm Nick.</span></h2>

    <div>
        <p>
            A software engineer. A creator. A problem solver.
            <br />
            A full-stack developer. A programmer. A learner.
        </p>
    </div>
</div>