h1 {
    line-height: 0.8;
    margin-bottom: 0;
}

h1>span>.header {
    font-size: var(--font-h1);
}

h2 {
    margin-block: 0px;

    .header {
        font-size: var(--font-h2);
    }
}

p {
    margin-bottom: 0;
    font-size: var(--font-body);
    text-align: center;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-margin-bottom {
    margin-bottom: 3rem;
}

.header {
    font-family: 'Acorn';
    color: var(--color-text-primary);
}

.html-tag {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text-primary);
}

.hello-margin {
    margin-right: var(--80px);
}

.im-a {
    margin-top: -10px;
}

.world-margin {
    margin-left: var(--80px);
}

//classes for the svg icons and animation
.icon-container {
    position: absolute;
}

.left-icon {
    left: 25%;
}

.right-icon {
    right: 25%;
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}
//classes for the svg icons and animation

@media screen and (min-width: 1200px) {
    h1 {
        padding-top: 40px
    }

    .hello-margin {
        margin-right: var(--128px);
    }

    .world-margin {
        margin-left: var(--128px);
    }
}

@media screen and (max-width: 991px) {
    .left-icon {
        left: 20%;
    }
    
    .right-icon {
        right: 20%;
    }
}

@media screen and (max-width: 767px) {
    .left-icon {
        left: 10%;
    }
    
    .right-icon {
        right: 10%;
    }
}

@media screen and (max-width: 499px) {
    .left-icon,
    .right-icon
    {
        display: none;
    }
}