<div class="container">
    <div class="row justify-row">
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <img src="../../../../../assets/images/Angular_full_color_logo.svg.png">
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <img src="../../../../../assets/images/c-sharp-logo.png">
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="test-class">
                <img class="net-test" src="../../../../../assets/images/Microsoft_.NET_logo.svg.png">
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="sql-server-logo"></div>
        </div>
    </div>

    <div class="row">
        <p class="justify-row">Other tools and things I've used. Postman. Swagger. NPM. Node</p>
    </div>
</div>