.skills-summary {
    background-color: orange; //temp
}

.justify-row {
    display: flex;
    justify-content: center;
}

.square {
    width: 100%;
    padding-top: 100%; /* Makes the element square */
    background-color: #ccc; /* Set your desired background color */
    border-radius: 10px; /* Adjust as needed for rounded corners */
}

