<div class="container">
    <div class="row justify-row">
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="image-container">
                <img src="../../../../../assets/images/Angular_full_color_logo.svg.png">
                <div class="overlay"></div>
                <div class="text">Angular Experience</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="image-container">
                <img src="../../../../../assets/images/c-sharp-logo.png">
                <div class="overlay"></div>
                <div class="text">C# exp</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="image-container">
                <img src="../../../../../assets/images/net-hex.png">
                <div class="overlay"></div>
                <div class="text">Net exp</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-8 mb-4">
            <div class="image-container">
                <div class="sql-server-logo"></div>
                <div class="overlay"></div>
                <div class="text">sql server</div>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="justify-row">Other tools and things I've used. Postman. Swagger. NPM. Node</p>
    </div>
</div>