<div class="container component-margin-bottom">
    <div class="row justify-row mb-4">
        <div class="col-4">
            <div class="placement">
                <h3>18 - 20</h3>
                <div class="hover-content">
                    <h5 class="company-name">Company name</h5>
                    <h5 class="position">Position</h5>
                    <p class="description">Yeah, but your scientists were so preoccupied with whether or not they could,
                        they didn't stop to
                        think if they should.
                        Remind me to thank John for a lovely weekend. I gave it a cold? I gave it a virus. A computer
                        virus. We gotta burn the
                        rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw
                        up this planet enough,
                        they won't want it anymore!</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="placement">
                <h3>20 - 23</h3>
                <div class="hover-content">
                    <h5 class="company-name">Company name</h5>
                    <h5 class="position">Position</h5>
                    <p class="description">Yeah, but your scientists were so preoccupied with whether or not they could,
                        they didn't stop to
                        think if they should.
                        Remind me to thank John for a lovely weekend. I gave it a cold? I gave it a virus. A computer
                        virus. We gotta burn the
                        rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw
                        up this planet enough,
                        they won't want it anymore!</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="placement">
                <h3>23 ~</h3>
                <div class="hover-content">
                    <h5 class="company-name">Company name</h5>
                    <h5 class="position">Position</h5>
                    <p class="description">Yeah, but your scientists were so preoccupied with whether or not they could,
                        they didn't stop to
                        think if they should.
                        Remind me to thank John for a lovely weekend. I gave it a cold? I gave it a virus. A computer
                        virus. We gotta burn the
                        rain forest, dump toxic waste, pollute the air, and rip up the OZONE! 'Cause maybe if we screw
                        up this planet enough,
                        they won't want it anymore!</p>
                </div>
            </div>
        </div>
    </div>