<div class="container component-margin-bottom">
    <div class="row justify-row mb-4">
        <div class="col-lg-4 margin-bottom">
            <div class="placement">
                <h3>18 - 20</h3>
                <div class="hover-content">
                    <h5 class="company-name">COMPRSA</h5>
                    <h5 class="position">Junior Software Developer</h5>
                    <p class="description">I started my software development career at a software consultancy company.
                        It allowed me to work on a number of
                        different projects, some that were interesting and others that were a tad less exciting. This
                        experience helped me learn
                        what I enjoy most about software development, as well as how to interact with multiple teams and
                        personalities.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 margin-bottom">
            <div class="placement">
                <h3>20 - 23</h3>
                <div class="hover-content">
                    <h5 class="company-name">LexisNexis</h5>
                    <h5 class="position">Software Developer</h5>
                    <p class="description">In the build up to Covid I was persuing a position at a new company and made
                        the move one month into it. They were
                        chaotic times and initially I was rather anxious making a job change in such uncertain times.
                        Ultimately it paid off and
                        I thouroughly enjoyed my time here. I had some great leadership and worked with some very
                        talented devs. I spent my
                        three years here fully remote which meant I had to hold myself accountable and keep good lines
                        of communication with the
                        rest of the team. Thankfully, something I don't struggle with.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 margin-bottom">
            <div class="placement">
                <h3>23 ~</h3>
                <div class="hover-content">
                    <h5 class="company-name">Dye & Durham</h5>
                    <h5 class="position">Software Developer</h5>
                    <p class="description">A move to Cape Town set in motion a transition to a new job. The team I
                        joined develops a product used in the legal
                        sector, comprising a mature desktop app that is rapidly being transitioned to the web. The move
                        also allowed me to
                        transition into a hybrid work environment, allowing for some in-person collaboration which I
                        hadn't experienced for some
                        time.</p>
                </div>
            </div>
        </div>
    </div>