.comp {
    text-align: left;
}

.d-and-d {
    text-align: right;
}

.ln {
    text-align: center;
}

.justify-row {
    display: flex;
    justify-content: center;
}

.placement {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-text-primary);
    /* Set your desired background color */
    border-radius: 10px;
    /* Adjust as needed for rounded corners */
}

div {
    color: var(--color-text-secondary-color);
}