/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/themes";
@import "./assets/styles/sizes";

a {
    text-decoration: none;
    color: var(--color-text-primary);
}

body {
    background-color: var(--background-color);
    color: var(--color-text-primary);
    margin: 0;
    font-family: 'gt';
    overflow-x: hidden;
}

.component-margin-bottom {
    margin-bottom: var(--24px);
}

@font-face {
    font-family: 'Acorn';
    src: url('./assets/acorn.woff');
}

@font-face {
    font-family: 'gt';
    src: url('./assets/gt.woff');
}

::selection {
    background: var(--color-text-primary);
    color: var(--background-color); 
}
