/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

@font-face {
    font-family: 'Acorn';
    src: url('./assets/acorn.woff');
}

@font-face {
    font-family: 'gt';
    src: url('./assets/gt.woff');
}
