
// Base styles for the element with the tooltip
[aria-label][data-balloon-pos] {
    position: relative;
    cursor: pointer;
  }
  
  // Tooltip text styles
  [aria-label][data-balloon-pos]:after {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.18s ease-in-out;
    content: attr(aria-label);
    background: var(--color-backdrop);
    color: var(--balloon-text-color);
    border-radius: 10px;
    padding: 8px 10px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
  }
  
  // Tooltip arrow styles
  [aria-label][data-balloon-pos]:before {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.18s ease-in-out;
    content: "";
    position: absolute;
    z-index: 10;
  }
  
  // Tooltip visibility on hover/focus
  [aria-label][data-balloon-pos]:hover:before,
  [aria-label][data-balloon-pos]:hover:after,
  [aria-label][data-balloon-pos][data-balloon-visible]:before,
  [aria-label][data-balloon-pos][data-balloon-visible]:after,
  [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
  [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
  }
  
  // Tooltip text and arrow positioning for right side
  [aria-label][data-balloon-pos="right"]:after {
    left: calc(100% + 40px);
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(20px) saturate(1.7);
    padding: 6px 20px 6px 20px;
    border-radius: 50px;
  }
  
  [aria-label][data-balloon-pos="right"]:before {
    left: calc(100%); // Adjust arrow position to be next to the bubble
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
  }
  
  // Additional adjustments for other positions if needed
  [aria-label][data-balloon-pos="up"]:after {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
  
  [aria-label][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
  }
  
  [aria-label][data-balloon-pos="down"]:after {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
  
  [aria-label][data-balloon-pos="down"]:before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color-active-link) transparent;
  }
  
  [aria-label][data-balloon-pos="left"]:after {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
  }
  
  [aria-label][data-balloon-pos="left"]:before {
    right: calc(100% + 5px); // Adjust arrow position to be next to the bubble
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color-active-link) transparent transparent;
  }