[data-theme="light"] {
    --color-text-primary: hsla(172, 95%, 18%, 1);
    //--color-text-secondary-color: 

    --background-color: hsla(36, 31%, 90%, 1);
}

[data-theme="dark"] {
    --color-text-primary: hsla(160, 52%, 71%, 1);
    //--color-text-secondary-color: 

    --background-color: hsla(158, 23%, 18%, 1);
  }